%h1 Online Anonymity
%div
  %p
    First, if you're actually commiting cybercrime, you should *NEVER* conduct this business from your home internet connection.  
    If you're interacting with the web as your cybercrime persona, you should *NEVER* conduct this business from your home internet.
    But that leaves the question, what about your non-criminal personas?  
    Surely we can't all just sit around in coffee shops and broadcast our casual tweets, grow our community roots and reach those interested.
    So the answer to this we have three sensible rules we can follow:  
    %ol
      %li Use your home and work internet for non-criminal personas, 
      %li Rely on non-criminal spokes persons completely detached from those who are criminal, 
      %li make it at least hard for 3rd parties to know how to apprehend your spokes people.
    Obviously to address items 1 and 2, simply have things work that way.  
    With your non-criminal persona: 
    %ul
      %li never advocate criminal activity, 
      %li Never request it,
      %li and if approached by a volinteer criminal, indicate that you cannot respond to their statements until your legal team get's back to you
    
    If you have criminal expertise... 
    It would be wise to not act as "the spokes person" for an orginization and use this non-nation state secure tutorial to remain secure.  
    

%h4 Create a second partition on your hdd that's just for your persona.  
  %div
    Personally, I would have a whole seperate laptop, you should consider this if you have great aspirations for yourself and have a powerful skill set.
    But you can achieve *some* of the same OpSec by installing debian, Ubuntu, Linux Mint, Tails on a separate partition on your hard drive.  
    The TL;DR version of doing this is: 
    %ul
      %li First shrink the partition of your current/ main OS to make room for the other OS
        %ul
          %li google:  shrink partition <name of your OS>
      %li Then DL the installation ISO for the OS you'd like to use
        %ul
          %li google:  how to install debian (or the name of the OS you want installed... don't use windows...)
          %li google: dual boot <name of linux OS> and <name of Windows or Mac OS you currently use> 
      %li Finall, begin the installation procedure, being VERY CAREFUL not to completely wreck your current OS (you should backup your important data to another place... if you don't have another place, buy one...)
    

%h3 Connect to the web through TOR
%div
  %p
    Before we get into anything, TOR is NOT secure from the NSA.  
    The US has a policy for sharing intelegence data with other nations.
    Therefore, TOR is not secure from anywhere but Iran, Cuba, N. Korea (lol), etc?
    So TOR is only a *part* of your program.
    TOR is useful at stopping *some* corporations from watching your online actions.  
    Will TOR be a silver bullet against a fusion center?  Probably not...
    But it's still an effective enough layer of security not to completely throw away according to some people.  
    

%h3 Connect to the web through a VPN
%div
  %p
    


%h3 Create brand new identities
%div
  %p
    So here's the deal, let's say you use facebook, and you login and see what ppl put on their walls.  
    Who knows maybe you want to put a thing on your wall.
    You need to refrain from doing that while you're connected to your Anonymous accounts!  
    If you log into twitter, and start talking about how your crew just turned off the internet at the White House, 
    and then go clicking on links and oops you click one that goes right into facebook where your real name is, 
    well you just contaminated your identity.  
    You went from a specific page on twitter that contained a link to facebook, 
    then you went to facebook, and your web browser just gave the FBI all the tracking cookies linking your twitter persona to your 
    real name, address, ISP, biometric face prints, etc!  
    So how to prevent this accident from taking place?  
    Don't access facebook from your black ops comp.  
    
    

%h3 Use an encrypted Hop Box?
%div
  %p
    









