%h1 So You've Never Used Bitcoin as a Payment Method?

%p
  To be fair, bitcoin is still a pretty young concept, so don't let anyone be to hard on you.  
  In 5-10 years you'll likely 
  %em
    %strong *need* 
  to use bitcoins to buy things online, 
  but at the moment, most online retailers are still using more expensive archaic methods of negotiating transactions.  
  Because Anonymous Publications is 
  %em
    %strong *hardly* 
  profit motivated (we're primarily lulz motivated)
  we're taking the launch of our new title as an opportunity to introduce new consumers to the payment technology as a humanitarian effort
  and also to support the PayPal14 and WikiLeaks who have been abused by politically overzelous payment providers in the past.  
  Once modern payment methods are adopted, we will nolonger be at the mercy of those in complete control of the global financial system.  
  And there will be cake.  


%h3 Convert USD into Bitcoins Electronically
%p
  By far, the easiest way to get started with bitcoins is to go to a 3rd party bank such as 
  %a{href:"https://coinbase.com"} https://coinbase.com 
  to setup an account.  
  By linking your bank account with them you will be able to convienienty trade US Dollars (USD) for bitcoins (BTC).  
  
%h3 How do I pay you with bitcoins?
%p
  Once you have bitcoins in your bitcoin wallet with them, 
  you can purchase anything you want by transfering bitcoins from your wallet to a 
  %em.money 
    %strong checkout wallet 
  such as the one we display to you on our website after you request a purchase.  
  A 
  %em.money
    %strong checkout wallet
  is a special bitcoin wallet created just for your purchase of everything you put into your electronic shopping cart (such as a copy of The Parade with the Drums).  
  Once that checkout wallet is paid, the payment is automatically forwarded to our primary bitcion wallet, we are notified of the payment, and then we ship the book to you.  
  
%h3 Do I need to use CoinBase.com???
%p
  No, not at all, you can buy bitcoins from any human who owns them with cash.  
  For instance, 
  %a{href:"https://localbitcoins.com/"} https://BitcionsLocal.com
  allows you to find people in your area willing to buy or sell bitcoins for cash, completely without a bank.  
  
%h3 Can I buy bitcions from CoinBase.com anonymously?
%p
  Sadly, the federal government outlaws the purchase or sale of bitcions anonymously if you are "in the business" of doing so.  
  The loophole for localbitcoins is that the people who buy and sell often do not do so making their livelyhood on it, 
  rather they are simply doing it as a hobby, altruistic, or occasional source of secondary income.  


%h3 I Need to See a Flashy Video That Tells Me How it Works with Pictures
%p
  ikr!  There's one on 
  %a{href:"https://bitcoin.org/en/"}https://Bitcoin.org







- 10.times do
  %br




















%h1 What Bitcoin Represents to Global Entities

%h3 How does the US Dollar (USD) Work Exactly?

%p
  So here's the gist of the matter.  
  Bitcoin for the most part works the same way USD work in the physical world.  
  One system, the Federal Reserve company (in the case of US Dollars) decides that more money should be added to the money supply.  
  This new money enters the economy... 
  %ol
    %li Primarily in the form of digital bank accounts held by banks, 
    %li And partially in the form of physical cash being stuffed into ATM machines owned by those banks.
  
  It's popular to say that the FED is always "printing more money" which reduces the value of the dollar that members of the labor pool worked hard for, 
  but this of course is an oversimplifacation because most of the money in the US money supply isn't even in the form of physical sheets of paper, it exists as virtual records in harddrives somewhere.  
  
  %p It's difficult to discuss the complexities of currency in an accessible way to non-economists, but the take away is "somehow it all just works out"
  
  
%h3 How do Bitcoins Work Exactly?
%p
  Ok, now if you grasp the economic concept of how currency works in general 
  (which honestly isn't something one can explain very thoroughly in a single document) 
  then you're ready to move on to understanding how bitcoin works.  
  It's easiest to explain the differences between how USD works vs BTC.  
  So what are the differences between how bitcoin and the USD works?
  %ul
    %li Instead of new money being given to banks, additions to the money supply are granted to 'bitcoin miners' who perform work.  
    %li The USD is inflationary (pressures investment) whereas bitcoin will eventually be static (allows for saving without loss)
    %li US dollars are vulnerable to misplacement, whereas bitcoins are vulnerable to HDD failure or backup file misplacement.
    %li Stolen US dollars are sometimes 'given back to you' by your bank, whereas stolen bitcoins are not.
    %li US dollars are vulnerable to counterfit whereas bitcoins are not.  
    %li US dollars are anonymous, whereas bitcoins transactions are public (but not necisarily the transactors).  
    %li electronic US dollar transactions require bank approval, special hardware devices, network access, and large payment fees, whereas with bitcoins you only need internet access.  
    %li US dollars are a mature technology, whereas bitcoins are a young one.  
  

%h3 Why Does the Media Discourage Bitcoin Usage?
%p
  If you've heard anything about bitcoins from the media, you've probably heard mostly bad things, or things which mock the crypto currency.  
  You might be wondering why the media would tend to cover bitcoins negatively even though there is so much online support.  Here's another quick bulletted list for your review:
  
  %ul
    %li 
      Bitcoins are an external threat to the entities who own shares in the media 
      (eg all the companies in the stock market, banks who directly own interestes in teh media, the government, et. al.).  
    %li 
      Originally, drug merchants were heavily using bitcoin, they got a head start, 
      but the banks hadn't adopted the new technology, which put them at a severe disadvantage 
      (the government now controls most of the wealth in BTC that the infamous SilkRoad had posession of, so this problems was partly solved by the FBI's hacking crusade against the deep web in their war on drug users).
    %li 
      Bitcoins complicate the government's ability to monitor the conduction of businesses, impose rules, and apply taxes.  
    %li 
      Bitcoin investment caused an unpredictable redistribution of wealth 
      (people without wealth tended to gain wealth as speculators began investing in bitcoins creating a speculator bubble similar to the one that crashed the US and global economy in 2007).  
    %li
      The US governement is a global hegomony in more areas than just military.  
      They overpower the rest of the world in cyber might, intelegence might, and also financial might.  
      Recently, the US government has even has the authority to look through soveregn nation's bank records to see what it can find.  
      If the US arbitrarily decides that it's in it's best interests to attack you as an individual, 
      they can 'freeze' all your assets in the bank, they can remove you from your house, 
      if you're traveling overseas they can shoot a rocket at you with a drone, 
      but they can't just take your bitcoins, it isn't possible.  
      So media groups supportive of the Pentagon (almost all of them) naturally are incentivized to slow down the adoption of bitcoin, 
      as that it undermines the US Government's financial Hegomony.  
      
      

%h3 Is There Anything Illegal About Using Bitcoins?
%p
  No no, not at all.  Unlike the Russian government which has indeed outlawed use of the technology, 
  the US government is explicitly prohibitted from passing laws like that.  
  Presently Washington is fighting bitcoin by applying anti-terrorism based regulations on financial insitutions to inhibit free trade of bitcoins, these laws have nothing to do with consumers using bitcoin.  











- if false
  (05:16:42 PM) Alpha: How do bitcoins work exactly?
  (05:16:52 PM) Omega: back to this question again
  (05:16:58 PM) Omega: lol, I love when tangents lead back 
  (05:17:00 PM) Omega: :)
  (05:17:35 PM) Alpha: lol all trails lead back to the same spot, exactly where they started!
  (05:17:38 PM) Omega: well, another goal of AP is to publish technology papers that enable activists to better there lives
  (05:17:45 PM) Omega: one essay would be on bitcoin
  (05:18:32 PM) Omega: Do you know how our email encryption works?  They call it asymmetrical because there's 2 keys, and encryption key, and a separate decryption key.
  (05:19:37 PM) Alpha: I was told it works like a mailbox that has only an opening to drop mail in and the private key was lthe only way to open that mailbox.
  (05:19:47 PM) Alpha: *locked mailbox
  (05:20:06 PM) Omega: so that's basically what a bitcoin wallet is, you use your private key to 'release' funds to other people, and you use the public key of other people to do the encrypting of the currency
  (05:20:26 PM) Omega: that's kinda true
  (05:20:35 PM) Omega: let me dig up something from the interwebz
  (05:23:08 PM) Alpha: ok cool
  (05:23:17 PM) Omega: watch this, it's so cute! 
  (05:23:18 PM) Omega: https://www.youtube.com/watch?v=U62S8SchxX4
  (05:32:08 PM) Alpha: Aww this is cute
  (05:32:44 PM) Alpha: Sorry I had to turn on the heater inside I feel like a baby saying I'm cold at 66 degrees lol
  (05:33:24 PM) Omega: np
  (05:34:23 PM) Omega: so, that's basically how you can use encryption without needing to secretly exchange how to decrypt messages
  (05:34:30 PM) Omega: do you get how that's like... magic basically
  (05:34:42 PM) Alpha: I do!
  (05:34:47 PM) Alpha: It's real magic
  (05:35:01 PM) Alpha: It's genius
  (05:35:12 PM) Alpha: My rabbit approves
  (05:35:15 PM) Omega: :)
  (05:36:54 PM) Omega: k, so thanks to prime numbers and a bunch of raw Math, scientists figured out that they can create spend a small amount of time encrypting something, but it takes a much, much larger amount of time to 'break the encryption' or go in reverse
  (05:37:17 PM) Omega: I'm actually a little rusty on this topic, it's been a while since I studied it, so I can't be too specific
  (05:37:45 PM) Alpha: I need general
  (05:37:48 PM) Alpha: this is good
  (05:38:00 PM) Alpha: Pretend I'm a child
  (05:38:01 PM) Omega: but basically, when we use our Key pairs, we use say a 2048 bit key to encrypt something, and to 'break' the encryption, it would take more CPU time than there is time remaining in this universe
  (05:38:19 PM) Alpha: or just a novice lol
  (05:38:49 PM) Alpha: That sounds magical!
  (05:39:00 PM) Omega: it's technically a 'sploit :)
  (05:39:10 PM) Omega: and yes, very magical
  (05:39:45 PM) Omega: and so if we utilize this kind of encryption, we can "take ownership" of virtual currency
  (05:40:11 PM) Alpha: So it can be a safe way to not only have these books purchased but to buy anything really.
  (05:40:23 PM) Omega: that's what bitcoin does, it creates these "tokens" and issues them to participants in the bitcoin network
  (05:40:37 PM) Alpha: I thought they can still be hacked though?
  (05:40:41 PM) Omega: and it encrypts them, or "signs them over" to ppls wallets
  (05:41:09 PM) Alpha: I sent you a msg on f.b.
  (05:41:20 PM) Omega: BTCs can be hacked in the same way that Goldmen Sache's and Bank of America hack ppls money
  (05:41:21 PM) Alpha: it's lulz you'll appreciate!
  (05:41:41 PM) Omega: so when there are "hacks" on bitcoin
  (05:41:51 PM) Omega: it usually is some bitcoin exchange that did some fraud against ppl
  (05:42:15 PM) Alpha: I see
  (05:42:35 PM) Omega: there's no need for "central exchanges" with bitcoin, but stock traders use them so they can speculate and try and make money without exerting any kind of effort
  (05:45:06 PM) Omega: and then some exchange is found to have done some fraud or suffered some hack attack, and then all the remaining speculators panic and put there money into something else like Monstanto stock or real estate or what ever crazy idea pops into their head
  (05:45:45 PM) Alpha: I hate the stock market
  (05:45:52 PM) Alpha: It's a bunch of bullshit.
  (05:46:02 PM) Omega: and that kind of behavior is what BTC's price fluctuations.  Theoretically lots of ppl made money by 'investing' in it, but they weren't actually using the money as a currency, they were just trying to make money
  (05:46:12 PM) Alpha: It's a way for money to be made from nothing and manipulated and kept in the hads of a few. 
  (05:46:14 PM) Omega: *why
  (05:46:20 PM) Alpha: It's legal gambling 
  (05:46:37 PM) Alpha: *hands
  (05:47:48 PM) Alpha: I think if we utilized things like botcoin and made them work for the sake of working and not to make money that would be ideal.
  (05:47:54 PM) Alpha: *bitcoin
  (05:48:01 PM) Omega: yeah, so when LulzSec stole all those CCs from Stratfor, say, and started donating to charities, that was the same thing as the last "shocking BTC hack" where a company was found to have it's bitcoin wallets stolen and the money taken out.. or w/e the specifics were from that case
  (05:48:35 PM) Omega: but here's the #realtalk, with BTC, you are your own bank
  (05:48:44 PM) Alpha: I like that
  (05:48:49 PM) Alpha: You are your own bank
  (05:48:53 PM) Alpha: the way it should be
  (05:49:00 PM) Omega: so you need to know how to secure your BTC wallet, Anonymous Publication's wallets are all stored on an offline machine
  (05:49:08 PM) Omega: so there's no risk
  (05:49:35 PM) Omega: but that makes it a pain to make payments, so there's an internet facing machine that always has "some cash" in it.  Not our entire bank account, just some of it
  (05:50:52 PM) Alpha: Soyou have an offline machine just for the BTC wallet
  (05:50:54 PM) Omega: but I don't have "stock piles" of cash in BTC, just like $300 worth, because ofc, BTC is a transactional currency
  (05:51:00 PM) Alpha: Kind of like a digital piggy bank?
  (05:51:06 PM) Omega: yes, lol
  (05:51:12 PM) Alpha: cool
  (05:51:22 PM) Alpha: lets call it a digital kitty bank
  (05:51:30 PM) Omega: the offline machine also has the secret key for unlocking customer's address fields
  (05:51:44 PM) Omega: that way if our server gets inspected by the NSA, they really only know email addresses
  (05:51:47 PM) Omega: and that's it
  (05:51:53 PM) Omega: kekeke
  (05:52:01 PM) Alpha: unless your email has your name and school like mine lol
  (05:52:10 PM) Alpha: I have another one though
  (05:52:14 PM) Omega: haha, stop doing that.. but that's not really the issue
  (05:52:32 PM) Omega: like, if your email could have any name, and they'd be able to trace it since it's connected to facebook
  (05:52:42 PM) Omega: and even if not facebook, it's probably connected with amazon.com
  (05:52:47 PM) Omega: who is a partner to the NSA
  (05:52:53 PM) Alpha: yeah 
  (05:52:58 PM) Alpha: Hey tangent
  (05:53:19 PM) Alpha: but do you know anything about Suspicious activy reports "SAR" at fusion centers
  (05:53:38 PM) Omega: #stingray?
