

%h3 OpSec
Talk on OpSec, a 'best practices' review/ solidification
https://www.youtube.com/watch?v=9XaYdCdwiWU

Understanding the Internet:
https://www.youtube.com/watch?v=VLsyc1s3b7o


%h3 Community
http://www.top-hat-sec.com/



%h3 Ubuntu


%h3 virtual box


%h3 Hajiv


%h3 Meta Sploit
http://www.offensive-security.com/metasploit-unleashed/Introduction
https://www.youtube.com/watch?v=EYxLtSuzwDM


%h3 Grow your own botnet




