
- t = TwitterCard.new(header: "#CharlieHebdo, Might I Bring Your Attention to Free Expression?", body: "The greatest threat to free expression comes from law makers and judicial authority figures, not a bunch of random, soon-to-be dead, people with guns.", img: "/images/articles/free_expression/france-flag-stock-xchngjpg_s.jpg", url: "/articles/free_expression")
= t.render


.article
  %h1.centertext
    \#CharlieHebdo, <br>
    Might I Bring Your Attention <br> 
    to Free Expression?

.article
  %p
    Before I say anything, I want to begin by saying I am NOT trying to attack anyone for their views.  
    And there isn't anyone out there getting upset at people for standing in solidarity with France or the victims of the Paris Shooting on January 7th, 2015.  
    What I'd like to do is ask you for your help, because I know there is good and reason in you.  
  %p  
    There's a crucial free expression cause coming up in the US and it needs your help by this January 22nd or the U.S. Government will be replacing free expression on the Internet with fear.  
    It's by no accident that you've heard very little about this case, I can assure you.  
    From the court gag orders to the awkward media disinterest, this isn't a topic Washington would like you to be following.  
    If you don't know Barrett Brown read on, or at least skip to the last section.  
    We need to face this threat united.  


.article.well
  %h3 Hypocrisy at the Charlie Hebdo Company
  %p
    Simply demonstrating with "I Am Charlie" or standing in solidarity with France is not going to save free expression.  
    In fact, it's not even going to help slow down it's erosion.  
    The #CharlieHebdo message has done nothing for free speech thus far, rather it's 
    %a{href:"http://www.ibtimes.co.uk/isis-france-votes-bomb-islamic-state-iraq-week-after-paris-terrorist-attacks-1483257"}war fuling.  
  %p
    I'd like to point out the hypocrisy of the situation with world leaders coming together in support of "Free Speech" following the shooting.  
    Charlie Hebdo made its profit by ridiculing a specific religion.  
    It may surprise you to learn that when one of the Charlie Hebdo cartoonists drew something belittling of the Jewish religion, he was 
    %a{href:"http://anonhq.com/charlie-hebdo-fired-anti-semitic-cartoonist-ridiculing-judaism-2009/"}fired!  
    Charlie Hebdo is not a company motivated by free expression or as some understandably romanticize, 
    the rejection of religions in general.  
    Charlie Hebdo operated within the west's fear mongering system, creating tension between different groups of people.  


  %h3 Hypocrisy of Attention
  %div.row-fluid
    .col-sm-6.col-md-2.pull-right
      .thumbnail{style: "background-color:#333;" }
        %a{href:"/images/articles/free_expression/yemen-suicide-bombing.jpg"}
          = image_tag("/images/articles/free_expression/yemen-suicide-bombing_s.jpg")
    %p
      When a 
      %a{href:"http://www.mirror.co.uk/news/world-news/yemen-bomb-blast-kills-37-4937751"}terrorist's bomb exploded 
      outside a police academy in Yemen, more than twice the amount in the Charlie Hebdo shooting were killed.  
      The world leaders/ masses aren't talking about that act of terror. Why?  
      - if false
        It's difficult for me to tweet or retweet much on the paris shooting because the scale of carnage was so insignificant when compared to other areas plagued by terror on a daily basis.  
        I did my one tweet, and then was forced to move on to issues I had an opportunity to influence.  


  %h3 Hypocrisy of the Legal System
  %div.row-fluid
    .col-sm-6.col-md-2.pull-right
      .thumbnail{style: "background-color:#333;" }
        = image_tag("/images/articles/free_expression/france-flag-stock-xchngjpg_s.jpg")
    %p
      It might surprise readers to learn that free expression isn't even protected by French law.  
      If artists at Charlie Hebdo had drawn images critical of France, they would have been locked in a jail cell until they stopped, or until they died.  
      In America, at least when they brutalize and tear gas people holding signs (or simply planning to do so) at highly sensitive events such as G8 conferences, 
      the police do this with disregard to national law.  
      But in France, this mass of Charlie Hebdo demonstrators would be given jail time if they so much as distributed the mere images of France's national flag on fire.  
      If you are anything like me, you likely have no genuine ambition of partaking in that style of free expression; but that it is illegal, outrages me, as it should you... 
      that is, if you believe in the importance of free expression.  
    
  - if false
    %h3 What Was the Joke?
    %p
      The bottom line is that Charlie Hebdo's drawings, the reason they're supposed to be 'so funny' is that, for who knows why, it is considered disrespectful to draw one of their profits.  
      And that's the joke.  
      Charlie Hebdo explicitly did something that was easy to do for the sake of being disrespectful and provocative.  
      If it weren't a part of their religion, the joke would be gone.  
      They wouldn't have gotten the attention they did when they first began their work undermining religious tolerance and coexistence.  
      They would probably have never built up to drawing those images of profit Muhammad in sexually embarrassing positions.  
      In reviewing Charlie Hebdo's actual work, which most people standing in those masses holding signs asserting "I Am Charlie Hebdo" must never have actually done, 
      it's easy to be reminded of the descriptions of rectal feeding in the CIA's torture report.  
      If you reject the division of human beings by religious lines, it would follow that you would reject the hostilities intentionally created by Charlie Hebdo in the cartoons they published.  
  
  %h3 Would You be Willing to Stand up for Free Expression?  
  %div.row-fluid
    .col-sm-6.col-md-2.pull-right
      .thumbnail{style: "background-color:#333;" }
        = image_tag("/images/articles/free_expression/Barrett-Brown_s.jpg")
    %p
      %span.quote-me The greatest threat to free expression comes from law makers and judicial authority figures, not a bunch of random, soon-to-be dead, people with guns.  
      Free speech is indeed under attack, and it's great to see the massive amount of public attention it's getting lately.  
      What the public hasn't seemed to notice is that in the US, 
      a journalist has been thrown in jail for the past two years with a pending trial (on it's own, this is a violation of Barrett Brown's rights as codified in US law).  
      His trial was last postponed to January 22nd, this has been going on for years!  
      If you don't know who Barrett Brown is, now's a good time to learn.  
      What is Barrett Brown being tried for?  He's slated for trial for his actions online where he copied a link from one chat room and pasted it into another.  
      Yes, this is more or less the equivalent of a retweet, and he's been 'vanned' for (raided and held in custody in a Gestapo like manor) 
      it for the past two years as if he was some out of control hacker with access to nuclear schematics.  
    %p
      So do you think retweeting something you see on the Internet should be considered an criminal act, or an act of free expression?
      Here's the startling part, Washington actually wants to 
      %a{href: "http://www.wired.com/2015/01/president-obama-waging-war-hackers/"} codify 
      these kinds of human rights violations into law!
    %p
      There's a second charge the bad guys are targeting Barrett Brown for, 
      and believe it or not, it's yet another act of free expression the US Government has taken issue with!  
      In this well published investigative journalist's case, his mother had recently been harassed and threatened by a member of the FBI, 
      and in what can only be described as a vehement, though helpless rage... Barrett Brown articulated himself in a video.  
      What did he say in his online emotional outbreak?  
      What notion's did he freely express?  
      In both these major points of his case, it's his expression that's being considered a crime.  
      So where is the internet's sign "I am Barrett Brown" if free expression is an important global issue?
      Maybe we should all think about holding that sign up in the face of enemies to free expression.
      
  
  
  
