%h1 Articles

%p
  Oh what would a publication Web App be without a place for articles?  
  
.articles
  Technical Articles:
  %ul{class:"subtle-list"}
    %li 
      %a{href: "/articles/encrypting_email"} Encrypting Emails
    %li
      %a{href: "/articles/bitcoin"}Buying with Bitcoin

.articles
  Artistic Articles:
  %ul
    %li
      %a{href: "/articles/poemsec"} #PoemSec

.articles
  Commentary Articles:
  %ul
    %li
      %a{href: "/articles/free_expression"}Free Expression
