
%h1



%div
  
  %div{style:"margin-left: auto; margin-right: auto; width:70%"}
    %a{:href => "https://gist.github.com/AnonymousPublications/5e783ab759b2917d1ebb"}
      %img{:src => "http://i.imgur.com/jpdNK4I.png", :title => "source: imgur.com"}/
  
  %br
  
  %div{class:"center", style:"width:70%"}
    %a.twitter-timeline{"data-widget-id" => "547593664277803009", :href => "https://twitter.com/hashtag/poemsec"} #poemsec Tweets
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

  

-8.times do
  %br


%p
  Links/ Resources:
%ul
  %li 
    Project Description:  
    %a{href:"https://gist.github.com/AnonymousPublications/5e783ab759b2917d1ebb"}
      https://gist.github.com/AnonymousPublications/5e783ab759b2917d1ebb

  %li 
    Flyer:  
    %a{href:"http://i.imgur.com/jpdNK4I.png"}
      http://i.imgur.com/jpdNK4I.png

  %li
    See 
    %a{href: "https://twitter.com/GodlessHippy"} @GodlessHippy
    for details




