
%h3 Streamers

%div.streamers
  %ul
    %li
      %a{href:"http://www.ustream.tv/channel/bassemmasri"} Bassemmarsi
    %li
      %a{href:"http://www.ustream.tv/channel/anon-copwatch"} Anon Copwatch


%h3 Podcasters

%div{class:"podcasters"}
  %ul
    %li
      %a{href:"https://freeanons.org/articles/podcasts/"} @loraxlive


%h3 Interesting

%div
  %ul
    %li
      %a{href:"freeyet.tk"} Political Prisoner Countdown



%div.security
  %ul
    %li 
      =link_to "http://netsec.ws"









