%h1 Secure Communications
%p
  If you understand 
  %a{href:"/articles/understanding_what_they_did_to_the_internet"} what they've done to the internet 
  Then you no doubt understand the importance of encryption.  Before I proceed with this tutorial, I must first point out the follow FAQ:
  %ul
    %li 'Encrypting' your emails will NEVER cause you to lose access to old emails, they never get encrypted, only future emails do.
    %li Encryption really works.  Online encryption is based on asymmetric key cryptography.  If you disbelieve this tech I'm showing you won't stop the NSA mass subservience programs, look it up.  Asymmetric cryptography is why crypto-currency is possible, it works.  It's as simple and magical as math, so use my help!


%h3 Why you should encrypt communications if you are an activist
%p
  If you are an activist, even one following the law entirely, 
  your adversaries should learn about your plans the same way your adoring followers find out.  
  It should be embarrassing that the authorities learn of an upcoming demonstration before the people who volunteer to attend it do...
  Sadly, this is not the case.  For reasons of national security, protests regarding 'sensitive' issues are monitored by agencies who have access to your phones and emails.  

%p
  Even if you're not an organizer, and you're simply a participant, you should still prevent law enforcement agencies from knowing who you plan to go with and what you plan to do.  
  
%p
  Even if you aren't an activist, you should keep your communications secure.  
  Information is power, and unless you share your information with everyone, you're giving the government an unfair strategic advantage to use your information to prosper.  It's a zero sum game, that means you're preventing all other entities from prospering by not encrypting.  

%p
  Notice EFF keeps a list (and facilitates code audits) of secure/ insecure comm systems:  
  https://www.eff.org/secure-messaging-scorecard


%h3 Encryption Supports your Government Financially
%p
  If there's ever a reason to encrypt your communications, it's this one.  
  If everyone encrypts their information, all of the billions of dollars the government has spent so far, 
  and all of the billions of dollars they no doubt will spend in the future, will be a complete waste.  
  Upon this waste being realized, they will simply stop surveilling the domestic population.  
  This means more money for libraries, schools, museums, and roads.  

%p
  Please encrypt all your communications.  


%h3 Using Your Mobile Phone
%p
  Your mobile phone is an privacy threat.  
  Phones are backdoored by the NSA before they even leave the factory (get link).
  Phones are subsequently rootkitted (infected with spyware) once they get to your phone service provider.  
  That means anything you type on your phone (including email/twitter passwords) gets sent to your phone company and is subject to NSA data collection programs.  

%p
  BUT, phones are helpful, they keep us in touch, the allow us to live stream.  
  Phones are so helpful, they cannot be abandoned.  
  

%h3 Prepaid Phones
%p  
  I tend to use 'burners' that I pay for in cash and never activate at my home or place of work.  
  The national license plate monitoring system threatens privacy, but I don't believe there are any mass collection programs active for correlating license plates to prepaid phone activity.  
  If such programs existed, it would be noticeable unlawful to NSA workers and likely would have been exposed by Snowden by now.  
  Just go to a phone kiosk and ask them what phones they have that work for prepaid customers.  
  But note that it's very likely that that mass voice fingerprinting and identification programs do exist.  
  Though the development is complex, it is a subject actively being researched by the intelligence industry, and implementation of voice fingerprinting systems is much more trivial to do.  
  Also, note that if you use your burner to text all of the friends you text on your 'real' phone, and in the same manor, it becomes trivial to deanonymize you using your social nodes and texting habits.  
  The police will eventually pull you over, for nothing...  One should try to keep their phone of while traveling.  


%h3 Communications Stack
%p
  Presented below are the fundamental forms of electronic communication, 
  and what software is used as a channel to carry out said communication.
  %ul
    %li Status Sharing/ logging (eg twitter) try
      %a{href:"http://www.w3schools.com/"} Web Sites
    %li 
      SMS/Texting (mobile) try
      %a{href:"https://whispersystems.org/blog/signal/"} Signal/ Redphone
    %li 
      Voice (mobile) try
      %a{href: "https://whispersystems.org/blog/signal/"} Signal/ Redphone
      
    %li 
      Chat (online) use
      %a{href: "/articles"} Pidgin/ Mac
    %li Email (online) use
      %a{href: "/articles/encrypting_email"} Thunderbird+GPG+Enigmail
    


%h3 Conclusion  
%p
  So that's a handy list, right?  If you're an organizer, you should probably be handy with encrypting all channels of communication.  
  One problem revolutionaries are faced with in terms of encrypted their communications is getting the people on the other end to encrypt.  
  At least you have this handy bookmark full of links and updated tuts to hand out.  




