%h1 Unboxing for Op Democracy Distro

%p
  Greetings, and thanks so much for participating in the holiday/ activism give aways.  
  To maximize the impact of this operation, please read the following document before unpacking your shipment of books. 

%h3 Types of Parcels
%div{class: 'well'}
  %p
    At the moment, there are 2 forms of packages: 
    %ul
      %li A large, long, brown, heavy box containing *many* books, and 
      %li A smaller brown envelope
    So if you get a box like this, marked with a return address in the Midwest, it's from us! 
    Be prepared to take 5 minutes doing unboxing tasks. 


%h3 What to do When the Books Come
%div{class: 'well'}
  %p
    Firstly, it's awesome, but don't panic.  
    Kindly cover the return address and currier information with duct tape, or just tear it off. 
    The first batch shipments unfortunately contain many typos.
    Sadly, anything mailed to that address will not be easily reachable by Anonymous Publications. 
    Details of the return address should not be advertised, nor emailed even to us.

%h4 Photography

%div{class: 'well'}
  %h5 The Large Package
  %p
    The large package contains 40 books and is intended for massive dispersal at a protesting site. 
    Before you bring it to a protesting site, first cut open the top flaps carefully to expose what should appear to be a holiday present.  
    The books aren't fully wrapped, it's really just a veneer, wrapping paper was folded into the edges. 
    The 'present' will have a tag on the top, but will be missing a bow.
    Included are some ribbons.  If you know how to make them into a curly bow and arrange the package 'nice' do so.  
    This may help, but don't waste too much time with this bit of it.  
    If you can't coerce the ribbons into something nice, either use a bow from your holiday stash or just photograph the gift box without all those loose ribbons.  
    
  
  %h5 The Small Envelope
  %p
    The small envelope parcel is easy, just open it at the top.  
    The enclosed books will be fully wrapped and look like a holiday present.  
    It will have a tag on the top, but will be missing a bow.
    Either slap a bow on the top of the present or photograph it as is
    


%h4 Dispersal and Filming
%div{class: 'well'}
  %p
    You will be contributing the most to the operation if you are able to bring the large package to a protest site, 
    get some ppl to film the donation, and then tell the protester's there that anonymous is donating Democracy centric children's books
    to protesters in the area and that everyone is free to take copies to spreed holiday cheer to those in need.  
    
  %p
    It's crucial to the operation that photos be taken and tweeted out to us.  
  

%h4 Ideal Shots
%div{class: 'well'}
  %p
    Photography is your turn to be creative.  People at protests will support you.  
    See what images you can pull off and share with the world.  
    If you aren't a live tweeter, call out for one to help you.  
    Use the hashtag #lulzxmas to spread the story and images.  
    If there's a livestreamer around, they will want to see the books being donated and the ppl accepting them.  
    
  %p
    Ultimately, be creative when taking photos, but here are some ideas to start you out at collecting good images:
  
    %ul 
      Get a photo with...
      %li a person in a Guy Fawkes mask holding&handing off the book
      %li a child with parent accepting the book
      %li groups of ppl holding the book and doing Piece signs
      %li ppl's picket signs


