
%h3 Weaponized internet
%p
  They can send responses to http queries back to your browser faster than the acutal webserver you queried can.  
  That means that if they want to shut someone down from seeing a page, they can send responses of blank pages back, or 404 errors back.  
  But this also means that they can "shoot a response" to your browser that includes an exploit code, 
  they can get into your system using a vulnerability in your browser.  
%p
  Not that this doesn't matter if people use SSL and the NSA is incapable of stealing web server's SSL certificates and keys...
  

%h3 The Whole Internet is Tapped!
%p
  Many years ago, guy at AT&T blows the whistle and tells the world that the NSA is colaborating with AT&T to wiretap their backbones.  
  The NSA sets up special rooms at ISPs where they use fiberoptic spliters to read all internet transactions that take place.  
  
  
%h3 All emails are wire tapped
%p
  They have your emails... it doesn't matter because everyone is going to use


%h3 They have skype
%p
  Don't use skype.  Use alternative voice chat channels.  In ___ Microsoft purchased skype.  
  On ____ Microsoft published a pattent for allowing electronic intercept to take place on voice chats...
  It doesn't get much more obvious than that with out leaks.  
  On ___ Snowden leaked documents indicating that the NSA was boastfull about how it was able to intercept X% of skype communications.  
  It is unclear under what circumstances skyp calls can not be intercepted by the NSA.  
%p  
  This doesn't matter because people art starting to use _____.  
  
  



%h3 What all of this means
%p
  You can't communicate about projects in "clear text"; you must encrypt your communications.  
  The NSA has access to insider information everytime a corporate employee send mail to another employee.  





