<%= simple_form_for(@utilized_bitcoin_wallet) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :wallet_address %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
