<p id="notice"><%= notice %></p>

<p>
  <b>Wallet address:</b>
  <%= @utilized_bitcoin_wallet.wallet_address %>
</p>


<%= link_to 'Edit', edit_utilized_bitcoin_wallet_path(@utilized_bitcoin_wallet) %> |
<%= link_to 'Back', utilized_bitcoin_wallets_path %>
