%ul.subtle-list
  %li.row
    .span2
      %a{:href => "https://anonlit.herokuapp.com"} Website
    %div
      \- link to us, buy books, or check out our documents
  %li.row
    .span2
      %a{:href => "https://twitter.com/anonlit"} Twitter 
    %div
      \- Follow us or send us some tweets
  %li.row
    .span2
      %a{:href => "https://www.facebook.com/pages/Anonymous-Publications/345777188961704"} Face Book
    %div
      \- But by all means like us to share with others if you use it :)
  %li.row
    .span2
      %a{href:"mailto:anonymouspublications@riseup.net"}
        Email
    %div
      \- (
      %a{:href => "/pgp"}> PGP Key Available
      )  AnonymousPublications@riseup.net
  %li.row
    .span2
      %a{:href => "https://vimeo.com/116398411"} Press Vid
    %div
      \- Hosted by Vimeo
