<style>
body { background:black; color:#ccc;}
</style>

-if true  
  <script src="/javascripts/openpgpjs/openpgp.min.js" type="text/javascript" charset="utf-8"></script>
  
  
  
  
  -if false
    <script data-main="/javascripts/openpgpjs/index" src="/javascripts/require.js" type="text/javascript" charset="utf-8"></script>
    <script data-main="/javascripts/main" src="/javascripts/require.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/openpgpjs/index.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/pgp/encryption.js" type="text/javascript" charset="utf-8"></script>
  openpgp demo


-if false     # here's a working fucking demo!!!
  <script data-main="/javascripts/l2require/main" src="/javascripts/l2require/require.js" type="text/javascript" charset="utf-8"></script>
  <script>
  setTimeout(function(){  
  purchase = require('purchase'); 
  alert(purchase.purchaseProduct());  
  }, 1000)
  
  </script>
  fuckness
  
  





