<h1>Careers / Volunteers / Activities</h1>

<p>This page is just resting for a little while.</p>

	<li><a href="/articles/encrypting_emails">How to Encrypt Your Mail Comfortably</a></li>
		<li><a href="/secure">How to encrypt a message just to us</a></li>
	</ul>

<!--

<p>
  Anonymous Publications is expanding!  
  If you would like to help us, get in contact today via 
  <a href="mailto:anonymouspublications@riseup.net?Subject=Can%20I%20Help%3F" target="_top">anonymouspublications@riseup.net</a> 
  or if you'd like to be informal about it
  <%= render "pages/tweet_to" %>
</p>


<p>
	For example, are you a...
</p>
<ul class="">
	<!--
	<li>Person interested in participating in either mail/distribution and/ or in-store representation who can use bitcoins and...</li>
	<li style="list-style: none">
		<ul>
			<li>lives in a country other than the US?</li>
			<li>lives near a bookstore that needs mega-awesome books?</li>
		</ul>
	</li>
	<li>Flash Mob Organizer?</li>
	<li>Grafitti Artist</li>
	<li>Video Composer?</li>
	<li>Person that's good at reading stories aloud?</li>
	<li>Author?</li>
	<li>Illustrator?</li>
	-->
	
	<!--
	
	<li>Community Leader?</li>
	<li>Live Streamer</li>
	<li>Memesmith or Graphic Artist?</li>
	<li>Blogger?</li>
	<li>Fun Loving Social Engineer</li>
	<li>Ally working in the US education system?</li>
	<li>Ruby/Rails Developer?</li>
	<li>Front end web developer?</li>
	<li>A person who works somewhere political prisoner's are being held and wishes to defect?</li>
	<li>State Legislator?</li>
	<li>Person that has cat videos we can use to relax our eyes from all the interneting and publicationing we've been doing?</li>
</ul>

<p>
  Those are just examples, mind you.  No matter what support you'd like to proposition we'd love to hear from you <3
</p>

<div class="well centertext">
	<p>
		anonymouspublications@riseup.net
    </p>
	<p>
		<a href="/pgp">Encryption Key</a>
		<br>(optional but strongly appreciated)
	</p>
	
	<br>
	<ul class="subtle-list">
		<li><a href="/articles/encrypting_emails">How to Encrypt Your Mail Comfortably</a></li>
		<li><a href="/secure">How to encrypt a message just to us</a></li>
	</ul>
</div>

<br><br>
<p class="indent">
	Additionally, if you have an IP address and social media accounts, 
	we have a <a href="/mktg">marketing campaign</a> you can contribute to with thumb ups, 
	retweets, discussions, misc forum post links, etc.  
	Early participation here will be <emphasis>extremely</emphasis> beneficial and there will be cake.
</p>


-->
