<h1>Donations</h1>

<div>
	<p class='indent'>
		If you feel the publishing we do is valuable, you can support future activities by supplying us with currency.  
	</p>
</div>

<br>

<div>
	<div><h4>Update:  2015-01-13</h4></div>
	
	<div><p>
		In case you're curious, if we sell the remainder of our inventory at full price we will not recover our costs.  
		This was known after the last two big donations were conducted.  
		It's important to note however, that this is not a loss, for we have created much more than books, and are earning much more than sales, aren't we?
	</p></div>
</div>

<br>

<div>
	<h4 class='centertext'>
		Bitcoinage May Be Sent to the Below Address 
	</h4>
	<div class="centertext well">
		<span class="money"><%= ENV["DONATION_WALLET"] %></span>
	</div>
</div>
