<h1>FAQ</h1>

<div class="faq">
	<div class="qa well">
		<div class="well q"><p>Is it safe to buy books?  Exactly how beta is this web application?</p></div>
		<div class="well a"><p>It's Obama Care Beta baby, but if it's online, it should be working, especially the distribution and bitcoin aspects.  If it's offline, then we're still working on system resillience issues due to your government trying to nuke everything it doesn't control.</p></div>
	</div>
	
	<div class="qa well">
		<div class="well q"><p>Will the government know I made a purchase if I use a new bitcoin wallet loaded with a Visa Vanilla debit card I bought from a Wallgreens type store?</p></div>
		<div class="well a"><p>Haha, they wish.  No everything's encrypted in such a way that all your info is COMPLETELY concealed other than your email.  If you create a new throwaway email from an IP other than your own, you're pretty much not going to show up on the radar unless they finally catch us xP.  They could go as far as to compromise our VPS and steal the SSL keys, and all the data is still encrypted with an offline RSA key before it's even mailed to our server.</p></div>
	</div>
	
	<div class="qa well">
		<div class="well q"><p>Will you be doing more books than just the one listed?</p></div>
		<div class="well a"><p>At least one more children's book will follow our premier release, but we don't have the capital to release it yet.  The amount of money recovered from sales and donations will determine whether the crew here continue developing counter-empire material or return to their 'real' jobs working for boring and pointless companies in order to buy food and stuff.</p></div>
	</div>
	<div class="qa well">
		<div class="well q"><p>How many artists are currently 'signed' to Anonymous Publications?</p></div>
		<div class="well a"><p>At the time this web-document was written, there exist just the two artists plus a humble group of technically skilled activists.</p></div>
	</div>
	<div class="qa well">
		<div class="well q"><p>Can I join you?</p></div>
		<div class="well a">
			<p>Yes!</p>  
			<p>We're looking for agents who are willing to represent Anonymous Publications and distribute books to schools, libraries and book stores.  We're also looking for artistic and literary talent. </p> 
			<p>If you would like to fight against the empire and have a creative flair, write down your outline, build it up into a complete manuscript and then carefully edit it.  Then bring it before some publisher, perhaps us.  If no one else will publish your work and we feel it deals a clever jab to the corrupt and bloated empire of the west, then we'll certainly publish it, assisting you with printing, marketing, and distributing the work.  If we have a bad feeling about the work, like maybe it's the work of some kind of CIA brainwashing technician, we might not want to endorse the work, but our judgment is more or less meaningless, if publishing your work is what you want to do then have at it.  Feel free to use any art content or words from us even if you're a psychopath working for a crumbling government.  If you're diligent, we have a <a href="/theory">theory on potent expression</a> that may guide your work (and possibly explain why others might not be interested in endorsing your work).</p>  
			<p>If you're a visual artist, but don't have any book ideas <em>per say</em>, we can try to pair you up with a literary developer where your skills will be put to work developing concept art, promotional artwork, posters, and art pages for cash/bitcoins.</p>
			<p>If you're into animations/ video, then feel free to put together marketing vids, and share it as best you can.  Don't forget to tell us about it on twitter too.</p>
			<p> We also need someone to help us launder large sums of money through the diamond trade.  Msg us on twitter if you have lots of diamonds for sale or a knack for sales.</p>
		</div>
	</div>
	<div class="qa well">
		<div class="well q">
			<p>
				As a publisher, can individuals and governments hold you or your authors accountable for the materials you publish?  Does this influence any editing conducted by Anonymous Publications?
			</p>
		</div>
		<div class="well a">
			<p>
				No.  Very few people know who the artists are.  No one knows the real identities of the core team.  The IRS is being kept entirely out of the loop for obvious reasons.  All tax laws are being followed, but as far as people being able to track us down....  That would be prohibitively expensive.  They don't even have the infrastructure to make the attempt for now, which is very good, but great lengths were taken to protect the anonymity of the team and it was painfully annoying.
			</p>	
		</div>
	</div>
	<div class="qa well">
		<div class="well q"><p>Do you wear masks when you write anti-tyrannical literature?</p></div>
		<div class="well a"><p>Always.  Masks with mustaches.  Always.</p></div>
	</div>
</div>
