%h1 Features

%div javascript PGP encrypted email addresses

%div no need for email (and that WONT be encrypted if your real email is provided)

%div a physical book that can be read to children or ripped by someone who knows picture book ripping and then uploaded to us and torrents

%div payment via bitcoin

%div Revolution


