<div class="page-header hometitle">
	<h1>
		Anonymous Publications <br>
		<small class="subtitle">Your Honest Source for Creative Literary Works Written in Rejection of the Empire</small>
	</h1>
</div>
<div class="well">
	<p class="indent">We're so glad to see you here! </p>
	<p class="indent">
		Anonymous is, by nature, a distributed and diverse network of passionate individuals, working towards a common set of goals.  
		We hope you find what you're looking for while browsing Anonymous Publications, one of many outlets to this manifold body.  
		If you're in the market for honest, yet optimistic literature, you're in the right place.  
		If interested, check back soon for publications of a more technical nature.  
	</p>


	<div class="center">
		<button class="btn btn-primary btn-obtain" onclick="window.location = '/titles'">
			OBTAIN A <br> BOOK NOW!
		</button>
		
	</div>
	
	<br>
	<div class=" centertext ">
		PLUS YOU CAN READ OUR FIRST BOOK NOW FOR NO MONEYS BECAUSE WE &lt;3 THE INTERNET!!!
	</div>
	<br>
	
	<div class="center centertext ">
		<div class="thumbnail">
			<a href="http://imgur.com/a/j3thx">
			<%= image_tag("/images/titles/pwtd.jpg") %>
			Book Rip
			</a>
		</div>
		
	</div>

	<div class="cool-vid">
		
		
		<iframe src="//player.vimeo.com/video/116398411" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/116398411">Anonymous Publications Press Release</a> from <a href="http://vimeo.com/user34475296">Andy Ricktor</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
		
	</div>
</div>

