%h1 Social Media Resources

%div
  %p
    Here's all our social media accounts and public resources.  
    If you'd like to help out, click likes/ subscribes/ etc to help others find us --we really appreciate that!  

%div
  = render '/pages/social_list'

