<h1>Most Lovely Documents</h1>
<h4>Explanation</h4>
<div class="indent">
  We thought it would be nice to keep track of documents that we (Anonymous Publications core members) have determined to be <i>exceptionaly lovely</i>.  We've decided to take things slow and make 1 determination per year.  These works can be any kind of document, an essay, a manifesto, a book, or even a series of emails.  The one specific requirement of credited documents is that these works must be the design of individuals out side of Anonymous Publications who happened to write something so <i>tremendously lovely</i> that we couldn't help but share a note here about their work.  So with that said, check out these most lovely documents.
</div>
</br>

<h4>Most Lovely Documents</h4>
<div class="most-lovely-documents">
  <div class="document indent">
		<h5>2013's Most Lovely Document</h5>
			<dl>
				<dt>Title</dt>
				<dd>The Declaration of the Independence of Cyberspace</dd>

				<dt>Auther</dt> 
				<dd>author guy</dd>

				<dt>Direct Link</dt>
				<dd><a href="#">link</a></dd>

				<dt>Remarks</dt>
				<dd id="d1" class="collapse-group remarks collapse">Beautifully put, in this document ___ outlines the growing powers of Citizens of the internet.  Especially poinient was his savvy to recognize that physical coersion could no longer be used as a primary means of control... </dd>
				<a class="btn" data-toggle="collapse" data-target="#d1">Expand&raquo;</a>
			</dl>
	</div>

</div>