%h1 OWS

%div
  To save on a bunch of writing, we've decided to redirect you to an image search worth many THOUSANDS of words.  
  =link_to "https://www.google.com/search?q=Occupy%20WallStreet&tbm=isch"
  
-# TODO:  finish this image search to something awesome
%meta{ "http-equiv" => "refresh", content: "5; url=https://www.google.com/search?q=Occupy%20WallStreet&tbm=isch" }


- if false
  %ul
    %li 
      Firstly, appologize for using Bradley.  
      
      The timeline was originally (and quite painstakingly) crafted before pfc Manning
      made his announcement about his gender change.  But we are very saddened that we didn't come back to this page or the dedication
      page and update it like good anons.
      
    %li Initial media blackout of the event
    %li J.P. Morgan Chase and lack of criminal prosecution
    %li Police abuse
    %li federal government organized crackdown of local state government's jurisdiction peaceful protests
    %li 
      
    %li Thesis:  

  %div{class: "theEssay"}
    %p 
    
  
  -# What if we just do pictures, redirect to google images
