<h1>Pricing</h1>

<div class="clear"></div>

<div>
	<p class="indent">
		It should be known that we really, really (super) really want to give this book to every child in this world.  
		But at the same time, we'd also like to recover some of the costs from this incursion and publish more time consuming/ expensive literary works (and do surprises!).  
		That can't happen if we don't accept money in exchange for books.  
	</p>
	<p class="indent">
		At the moment, $18 is the value we charge for the book directly from us and you can pay with <span style="text-decoration:line-through">paypal or use </span> bitcoins to complete the transaction.
		Plus there's the shipping costs which are somewhere around two more dollars, plus one of us has to actually put these physical 8.5x8.5 in. 
		books into mailable envelopes, adhere postage and address material which is kind of annoying.  We hope to sort out some kind of bulk pricing scheme by the time we move into production.  
	</p>
	<!--
	<p class="indent">
		Our recommendation is for people to check the 
		<a href="/1337bookstores">list of participating book stores</a>
		and see if they can snag a copy from a local bookstore that belongs in existance before trying to buy Online from us.  
	</p>
	-->
</div>

<div class="clear"></div>

<div class="span2 well damoney">
	<div>
		Price for One: $18 + sh
	</div>
	<div style="color: rgb(21, 21, 21);">
		_
	</div>
</div>

<div class="span3 well damoney">
	<div>
		Books Remaining: 
	</div>
	<div>
		<%= WorkHard.how_many_books_left %>
	</div>
</div>

