<h1>Discounting and Distribution</h1>
<p class="indent">
	Are you considering purchasing one of our books?  
	That's terrific!  
	We sell to both individuals and other retailers (people who buy more than 6 books at once for a fancy discount).
</p>

<p class="indent">
	Due to intricacies in the U.S. tax code that impact author/ publisher anonymity, no single individual/organization can purchase more than $600s worth of product from us, within one year's time.  
	However, any 3rd party entity can request more books from us and then you can request your books from said entities (up until he reaches the $600 limit imposed on us by the IRS).
</p>

<p class="indent">
	Our pricing strategy is designed to get rid of as many books quickly so we can vanish back into the interwebs leaving not a trace of us but these lovely books (or recover enough of the investment capital to publish more materials)
</p>

<p class="indent">
	Consider an $18.00 book.  
</p>

<div class="pricing-table well">
    <strong>1 book</strong> </br>
    Customers/ Supporters:   100% or $18.00</br>
    Activist/ Community Groups (with an online presence or physical address):  90% or $16.20</br>
    Teachers (with online verifiable addresses to schools):     80% or $14.40</br>
    </br>
    
    <strong>2-5 books</strong> </br>
    Customers/ Supporters:   95% or $17.01</br>
    Activist/ Community Groups (with an online presence or physical address):  80% or $14.40</br>
    Teachers (with online verifiable addresses to schools):     70% or $12.60</br>
    </br>
   
    <strong>6-10 books</strong>  </br>
    Retailers:    55% or $9.90 </br>
    Libraries:    45% or $8.10 </br>
    Schools and Teachers:      40% or $7.20 (this will probably be below OH cost... Hopefully they don't burn them...) </br>
    Amazon.com:   (no soup for you bra)</br>
</div>

<!--
<p class="indent">
	Check our <a href="/1337bookstores">list</a> for a retailer near you!
</p>
-->

<p class="indent">
	Bitcoin is all about taking the power back from the financial institutions and giving it to the people.  
	We strongly encourage purchases to be made using bitcoin if you're in the mood to get involved in that wonderful stuff for the first time.  
	Thanks!
</p>



