%div{:class => "label hiddenLabel"}
  %div{:class => "text"}
    %div{:class => 'name'}
      
    %div{:class => 'address'}
      
    %div{:class => 'address2'}
        
    %div{:class => "apt"}
      
    %div{:class => 'city-state-zip'}
