%h3 The Citizens as the World's Largest Gang

%p
  The system is broken for most of us.  For some of us it works ok.. until we get sick and start to die, then we possibly see environment polution as an immediate concern, the decline of food quality as an issue, and perhaps the education and biological research to be inappropriately handled.  

%p
  So how do we 'fix it'?  Consider the birth of the Zetas, a mexican drug cartel.  Things all started out when a small group of highly skilled members of the Mexican military split off from the popular authority and joined up with a smaller group.  Don't get me wrong, Mexican drug cartels are horrible, but we can learn from the history.  What if a *large* (all of the American population) group of highly skilled individuals (except for the emotional unstable Fox News types) broke off from the nation's undebatably *unpopular* authority?  
  

%p
  The national cleanup would require participation of a massive scale.  Every citizen would have to make many decisions.  If we shut down everything for a week, I think we'd be close to part of the way through clearing which prisoners who were there by mistake, jailing which free individuals who were loose by mistake.  But with the power of computers and the internet, this could be what the bloodless revolution looks like.  Work comes to a halt, and individuals are given direct control to criticize and even change government policies.  
  
%p
  As I'm typing this, I'm wondering if it is in fact an illegal notion, to be considering the masses of citizens walking right into federal prisons and demanding the release of prisoners who have been officially cleared of wrong doing.  
  
  
  
